# Global snippets

# miscellaneous
snippet todo
// todo(${1:HT}) ${2:reason}${0}
endsnippet

# copyrights
snippet eflag "EFLAG copyright"
// Copyright (c) EFLAG Co.LTD. All rights reserved.

${0}
endsnippet

